{% load static %}
{% load tags %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <title>HARE FSAE Task Tracker App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- Import the toggle theme script i copied from django documentation -->
    <script src="{% static '/scripts/theme_toogle.js' %}"></script>

    <!-- import the newer bootstrap that supports color themes -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img src="{% static 'images/HARE_LOGO.png' %}" style="width:48px;height:48px" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'task-list-view' %}">All Tasks</a>
            </li>
            {% department_name_id_dict request as department_list %}
            {% for department in department_list %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'task-list-department-view' department.id %}">{{ department.name }} Tasks</a>
              </li>
            {% endfor %}
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
            </li>
            {% endif %}
            <li class="nav-item">
              {% if user.is_authenticated %}
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}
            </li>
            {% if department_list%}
              <a class="nav-link" href="{% url 'department-list-view'%}">Departments</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Theme</a>
              <ul class="dropdown-menu bg-dark">
                <li>
                  <button class="dropdown-item bg-white text-dark" data-bs-theme-value="light">Light Mode</button>
                </li>
                <li>
                  <button class="dropdown-item bg-black text-white" data-bs-theme-value="dark">Dark Mode</button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- add block content from html template -->
    {% block content %}

    {% endblock %}
  </body>
</html>
