{% extends 'task_tracker/base_template.html' %}
{% block content %}
  <div class="container-fluid float-start">
    <ul class="list-group px-4 w-auto" style="list-style-type: none;">
      <li class="list-group-item border-0">
        <div class="mt-2 me-5">
          <h2 class="float-start">{{ department.name }} Department</h2>
          
          {% if can_edit%}
          <!-- delete and edit buttons-->
          <a href="{% url 'department-delete-view' department.id %}" class="btn btn-danger float-end ms-3">Delete Department</a>
          <a href="{% url 'department-update-view' department.id %}" class="btn btn-primary float-end ms-3">Edit Department</a>
          {% endif %}
        </div>
      </li>

      <li class="mt-4 list-group-item border-2 border-black">
        <p class="border-black">{{ department.description }}</p>
      </li>
      <li class = "mt-4 list-group-item border-2 border-black">
        <h3>Leader(s):</h3>
        <ul>
          {% for leader in leader_list %}
            <li><a href="{%url 'student-detail-view' leader.id%}">{{ leader }}</a></li>
          {% endfor %}
        </ul>
        <h3>Members:</h3>
        <ul>
          {% for member in member_list %}
            <li><a href="{%url 'student-detail-view' member.id%}">{{ member }}</a></li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </div>
{% endblock %}
