{% extends 'task_tracker/base_template.html' %}
{% block content %}
  <div class="container-fluid float-start">
    <ul class="list-group px-4 w-auto" style="list-style-type: none;">
      <li class="list-group-item border-0">
        <div class="mt-2 me-5">
          <h2 >{{ student }}</h2>
          <h4> Email: {{student.user.email}}</h4>

           <!-- delete and edit buttons-->
           <a href="{% url 'student-delete-view' student.id %}" class="btn btn-danger float-end ms-3">Delete Student</a>
           <a href="{% url 'student-update-view' student.id %}" class="btn btn-primary float-end ms-3">Edit Student</a>
        </div>
      </li>

      <li class="mt-4 list-group-item border-2 border-black">
        <p class="border-black"></p>
      </li>
    </ul>
  </div>
{% endblock %}
