{% extends 'task_tracker/base_template.html' %}

{% block content %}
<div class="pt-3 px-3">
<h5 class="pb-3"> Are you sure you want to delete "{{ task.summary }}"?</h5>
{% if task.childTasks %}
<p><span class="font-weight-bold text-warning">Warning:</span> Deleting this task will delete the following child tasks:</p>
<ul>
    {% for childTask in task.childTasks %}
    <li>{{ childTask.summary }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action = "" method="POST">
    <button class="btn btn-primary" onclick="window.location.href='{{project.portfolio.get_absolute_url}}'">Cancel</button>
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" name="Delete">
    </form>
</div>
{% endblock %}